HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.gradle

### VS Code ###
.vscode/
/node_modules/
/.mvn/
/config/
/ui/umi/node_modules/
/.idea/
/target/
/.mvn/


.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.iml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
/*/build/
proguard/
*.log
